:root {
  --main: #7bff00;
  --text: #ffffff;
  --background: #262626;
  --screen: #000000;
  --ui: #171717;
  --ui2: #4a4a4a;
  --exit: #ff3030;
}

/* Useful classes */

.center-inside {
  align-items: center;
  display: flex;
  justify-content: center;
}


/* Base */

html,
body {
  background-color: var(--background);
  color: var(--text);
  font-family: monospace;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* Screen */
.screen {
  background-color: var(--screen);
  height: 700px;
  width: 700px;
}

/* Side Bar */

.sidebar {
  align-items: center;
  background-color: var(--ui);
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100px;
}

.sidebar .settings {
  background-color: transparent;
  border: 0;
  color: var(--ui2);
  font-family: inherit;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 520px;
  margin-top: 10px;
}

.sidebar .settings:hover {
  color: inherit;
}

.sidebar button {
  display: block;
}

.sidebar .exit {
  background: transparent;
  border: 0;
  color: var(--ui2);
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  height: 45px;
  width: 150px;
}

.sidebar .exit:hover {
  color: var(--exit);
}

/* If menu doesn't have visible class hide it */
.menu:not(.visible) {
  display: none;
}

/* Main Menu */

/* The logo */
.logo {
  color: var(--main);
  font-size: 110px;
  font-weight: bold;
  margin-bottom: 200px;
}

/* The input field where you can enter the name of the room you want to join */
.room-input {
  background-color: var(--ui);
  border: 5px solid var(--ui2);
  color: inherit;
  font-family: inherit;
  font-size: 30px;
  height: 53px;
  outline: 0;
  padding-left: 10px;
  padding-right: 8px;
}

.room-input::placeholder {
  color: var(--ui2);
}

/* The create/join room button */
.join-room-button {
  background-color: var(--ui);
  border: 5px solid var(--ui2);
  color: inherit;
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  height: 65px;
  margin-left: 20px;
}

.join-room-button:hover {
  color: var(--main);
}

/* Lobby Menu */

.lobby-menu {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 400px;
}

.lobby-menu button {
  background-color: #262626;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  width: 160px;
}

.lobby-menu button:hover {
  color: var(--main);
}

.lobby-menu label {
  background-color: var(--ui2);
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: middle;
  width: 80px;
}

/* Customization Menu */

/* Container for the entire customization menu */
#customization-container {
  position: absolute;
}

/* Each "column" of the menu */
.customization-module {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  vertical-align: middle;
}

/* The color picker element */
#color-picker {
  margin-top: 70px;
}

/* The title for the menu */
.category-title {
  color: var(--main);
  border-bottom: 5px solid var(--main);
  display: inline-block;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 200px;
}

/* The Option Fields*/

/* The box containing the label and the button */
.option {
  margin-bottom: 10px;
  vertical-align: middle;
}

.option label {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  width: 140px;
}

/* The button get's a border depending if it's dark or light */
.option button {
  border-radius: 2px;
  height: 30px;
  vertical-align: middle;
  width: 50px;
}

.customization-option-button:not(.dark) {
  border: 3px solid var(--dark-border);
}

.customization-option-button.dark {
  border: 3px solid #ffffff;
}

.customization-option-button.selected {
  border: 3px solid #ff1457;
}


/* old */

button.lobby_menu {
  position: absolute;
  margin-top: 400px;
  margin-right: 220px;
  border: 0;
  height: 45px;
  width: 150px;
  background-color: #1c1c1c;

  font-family: inherit;
  color: inherit;
}

div.game_over {
  position: absolute;
  margin-right: 100px;
  font-family: inherit;
  font-size: 120px;
  font-weight: bold;
  color: inherit;
}