/* Base */

html,
body {
  background-color: #262626;
  color: white;
  font-family: monospace;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Menu */
.menu {
  display: block;
  position: absolute;
}

.menu:not(.visible) {
  display: none;
}


/* Customization Menu */

/* Container for the entire customization menu */
#customization-container {
  position: absolute;
}

/* Each "column" of the menu */
.customization-module {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  vertical-align: middle;
}

/* The color picker element */
#color-picker {
  margin-top: 70px;
}

/* The title for the menu */
.category-title {
  color: #ff1457;
  border-bottom: 5px solid #ff1457;
  display: inline-block;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 200px;
}

/* The Option Fields*/

/* The box containing the label and the button */
.option {
  margin-bottom: 10px;
  vertical-align: middle;
}

.option label {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  width: 140px;
}

/* The button get's a border depending if it's dark or light */
.option button {
  border-radius: 2px;
  height: 34px;
  vertical-align: middle;
  width: 50px;
}

.customization-option-button:not(.dark) {
  border: 3px solid var(--dark-border);
}

.customization-option-button.dark {
  border: 3px solid #ffffff;
}

.customization-option-button.selected {
  border: 3px solid #ff1457;
}


/* old */

#settings {
  position: absolute;
  margin-bottom: 600px;
  margin-left: 700px;
  border: 0;
  background-color: transparent;
  font-size: 70px;
  font-family: inherit;
  font-weight: bold;
  color: #858585;
}

input {
  position: absolute;
  margin-top: 350px;
  margin-right: 350px;
  border: 5px solid #404040;
  outline: 0;
  height: 53px;
  padding-left: 10px;
  padding-right: 8px;
  background-color: #171717;
  font-size: 30px;
  font-family: inherit;
  color: inherit;
}

input::placeholder {
  color: #4a4a4a;
}

button.main_menu {
  position: absolute;
  margin-top: 350px;
  margin-left: 320px;
  border: 5px solid #404040;
  height: 65px;
  background-color: #1c1c1c;
  font-size: 30px;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}

button.main_menu:hover {
  color: #82ff30;
}

button.lobby_menu {
  position: absolute;
  margin-top: 400px;
  margin-right: 220px;
  border: 0;
  height: 45px;
  width: 150px;
  background-color: #1c1c1c;
  font-size: 30px;
  font-family: inherit;
  color: inherit;
}

button.lobby_menu:hover {
  color: #82ff30;
}

button.ui,
.realui {
  position: absolute;
  margin-top: 580px;
  margin-left: 700px;
  border: 0;
  height: 45px;
  width: 150px;
  background: transparent;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: inherit;
}

button.ui,
.realui:hover {
  color: #ff3030;
}

div.game_over {
  position: absolute;
  margin-right: 100px;
  font-family: inherit;
  font-size: 120px;
  font-weight: bold;
  color: inherit;
}

#customization-panel {
  position: absolute;
  z-index: 1;
  margin-right: 100px;
  margin-bottom: 2px;
  border: 0;
  width: 700px;
  height: 700px;
  background-color: #ff0000;
}